* > button {
	font-size: 1.1em;
	color: #fff;
	text-decoration: none;
}

* > button {
	font-size: 1.1em;
	color: #fff;
	text-decoration: none;
}

* > button:hover {
	color: #fff;
	text-decoration: none;
}

.Primary {
	background-color: var(--primary-aqua);
	color: #fff;
	font-weight: bold;
	padding: 1rem 1.7rem;
	border-radius: 0.5rem;
	border: 1px solid var(--darker-aqua);

	transition: background-color 0.2s ease-in-out;
}

.Primary:hover {
	background-color: var(--lighter-aqua);
}

.Link:hover {
	text-decoration: underline;
}