<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<title>@ViewData["Title"] - mientreno</title>
	
	<meta name="theme-color" content="#69f000"/>
	<meta name="description" content="Mientreno es una aplicación web con la que los entrenadores personales pueden gestionar todo lo relacionado a los entrenamientos."/>

	<link rel="stylesheet" href="~/css/app.css" asp-append-version="true"/>
	<link rel="stylesheet" href="~/Server.styles.css" asp-append-version="true"/>

	<link rel="manifest" href="~/manifest.json"/>
	<link rel="icon" href="~/logo.svg"/>
</head>
<body>
@await Html.PartialAsync("Header")

@RenderBody()

@await Html.PartialAsync("Footer")
@await RenderSectionAsync("Scripts", required: false)
<script async src="~/js/language.js"></script>
</body>
</html>