<footer>
	<select id="footer-language-selector" class="form-control">
		<option value="es-ES">Español</option>
		<option value="gl-ES">Galego</option>
		<option value="ca-ES">Catalán</option>
		<option value="eu-ES">Euskera</option>
	</select>
</footer>