<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<title>@ViewData["Title"] - mientreno</title>
	
	<link rel="stylesheet" href="~/css/app.css" asp-append-version="true"/>
	<link rel="stylesheet" href="~/Server.styles.css" asp-append-version="true"/>

	<link rel="manifest" href="~/manifest.json"/>
	<link rel="icon" href="~/logo.svg"/>

	@await RenderSectionAsync("HeaderExtras", required: false)
</head>
<body>
@await Html.PartialAsync("Shared/Header")

@RenderBody()

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>