/*#region Header */
header {
	padding: 0 3rem;
}
/*#endregion */

/*#region Mains */
#main-invisible {
	width: auto;
	margin-left: 3rem;
	margin-right: 3rem;
}
/*#endregion */

/*#region Footer */
footer {
	padding: 0 3rem;
}
/*#endregion */

/*#region Landing page */
#landing #hero h1 {
	font-size: 2.5em;
}

#landing #hero h2 {
	font-size: 2em;
}
/*#endregion */

/*#region Grid */
.grid-3 {
	grid-template-columns: repeat(2, 1fr);
}
/*#endregion */