/*#region Defaults */
:root {
	--font-sans: -apple-system, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue;
	--font-mono: 'Fira Code', 'Fira Mono', 'Roboto Mono', 'Lucida Console', Monaco, monospace;

	font-family: var(--font-sans);
	font-size: 16px;
	line-height: 1.5;

	color: var(--text);

	--unit: 0.25rem;
	--media-tablet-large: 900px;
	--media-tablet-small: 768px;

	--text: #020617;
	--background: #e4e4e7;
	--background-alt: #e7e5e4;

	--primary: hsl(94deg, 100%, 40%);
	--primary-dark: hsl(94deg, 100%, 20%);
	--primary-light: hsl(94deg, 100%, 80%);

	--good: hsl(94deg, 100%, 40%);
	--good-darker: hsl(94deg, 100%, 20%);
	--good-lighter: hsl(94deg, 100%, 80%);

	--warning: hsl(43, 100%, 50%);
	--warning-darker: hsl(43, 100%, 30%);
	--warning-ligher: hsl(43, 100%, 70%);

	--bad: hsl(4, 100%, 40%);
	--bad-darker: hsl(4, 100%, 20%);
	--bad-ligher: hsl(4, 100%, 80%);

	--background-max: #FFFFFF;

	--black: #03191F;
	--white: #f8fafc;

	--corner: 0.15rem;

	--shadow: 0 0 10px rgba(0, 0, 0, 0.05);
	--inset-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
}

::selection {
	background: var(--primary-dark);
	color: var(--white);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(--background);
	min-height: 100vh;
	color: var(--text);

	display: flex;
	flex-direction: column;
}

header, footer {
	flex-grow: 0;
	flex-shrink: 0;
}

#body-separator {
	flex-grow: 1;
}

h1 {
	font-size: 2.5rem;
}

fieldset {
	border: none;
}

p {
	color: var(--text);
	font-weight: 500;
	hyphens: auto;
}

textarea {
	font-family: var(--font-sans);
	resize: vertical;
}

.text-danger {
	color: var(--bad);
}

.code {
	font-family: var(--font-mono);
}

.italic {
	font-style: italic;
}

ul, ol {
	padding-left: 1.5rem;
}

/*#endregion */

/*#region Buttons */
.button {
	font-size: 1.1rem;
	font-weight: bold;
	text-decoration: none;

	color: var(--text);

	padding: calc(0.75rem + 2px) 1.5rem 0.75rem 1.5rem;

	border: none;
	border-radius: var(--corner);
	box-shadow: var(--inset-shadow);

	transition: all 0.2s ease-in-out;

	user-select: none;
}

.button:hover {
	text-decoration: none;
}

.button-primary {
	background-color: var(--primary);
}

.button-primary:hover {
	background-color: var(--primary-dark);
}

.button-outline-primary {
	background-color: var(--background-max);
	border: 2px solid var(--primary);
}

.button-outline-primary:hover {
	background-color: var(--primary);
	color: var(--white);
}

.button-disabled, button[disabled="disabled"] {
	background-color: var(--background-alt);
}

.button-disabled:hover, button[disabled="disabled"]:hover {
	cursor: not-allowed;
	background-color: var(--background-alt);
}

.button-large {
	padding: 1rem 1.7rem;
}

.button-text-end {
	text-align: end;
}

/*#endregion */

/*#region Links */
.link {
	text-decoration: none;
	transition: all 0.2s ease-in-out;
	font-weight: 500;
}

.link::selection {
	background: #fff;
	color: blue;
}

.link:hover {
	text-decoration: underline;
}

.link-bold {
	font-weight: bold;
}

.link-no-underline, .link-no-underline:hover {
	text-decoration: none;
}

.link-nav {
	transform: translateY(2px);
	border-bottom: 2px solid rgba(0, 0, 0, 0);
}

.link-nav:hover {
	transform: translateY(0);
	border-bottom-color: currentColor;
	text-decoration: none;
}

.link-user {
	color: var(--text);
	background: var(--background);
	padding: 0.35rem 0.7rem;
	border-radius: 1rem;
	text-decoration: none;
}

.link-text {
	color: var(--text);
}

.link-text::selection {
	background: var(--text);
	color: var(--background-max);
}

.link-inverted {
	color: var(--background-max);
}

.link-inverted::selection {
	background: var(--background-max);
	color: var(--text);
}

.link-primary {
	color: var(--primary);
}

.link-primary::selection {
	background: var(--primary);
	color: var(--background-max);
}

.link-bad {
	color: var(--bad);
}

.link-bad::selection {
	background: var(--bad);
	color: #fff;
}

.link-external::after {
	content: "↗";
	font-size: 0.8em;
	vertical-align: super;
}

/*#endregion */

/*#region Forms */
form {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	font-size: 1.1rem;
}

.form a {
	font-size: 1.1rem;
}

.form-inline {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.75rem;

}

.form-group {
	display: flex;
	flex-direction: column;
	color: var(--text);
	width: 100%;
}

.form-group-double {
	display: flex;
	gap: 1.8rem;
}

.form-group > label {
	font-size: 1.1rem;
	font-weight: bold;
	margin-bottom: 2px;
	margin-left: 2px;
	line-height: 1.25;
}

.form-control {
	font-size: 1.1rem;

	padding: calc(0.75rem + 2px) 1rem 0.75rem 1rem;
	transition: 0.2s ease-in-out;
	transition-property: border-color, background-color, outline-color, outline-width;

	border-radius: var(--corner);
	border: none;

	box-shadow: var(--inset-shadow);
}

.form-control:focus {
	outline: 1px solid var(--primary-dark);
}

.form-control-filled {
	background-color: var(--background-alt);
}

.form-check {
	font-size: 1.1rem;
}

.form-check > input {
	margin-right: 0.5rem;
	width: 1.1rem;
	height: 1.1rem;
	transform: translateY(2px);
	accent-color: var(--primary-dark);
}

/*#endregion */

/*#region Header */
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 4rem;

	padding: 0 12vw;
	background: #131313;
}

header img {
	height: 2rem;
}

header nav {
	display: flex;
	align-items: center;
	gap: 1.5rem;
}

header > nav a {
	font-size: 1.1rem;
}

header nav:has(img) a {
	display: flex;
	align-items: center;
	gap: 0.25rem;
}

header nav:has(img) img {
	height: 1.3rem;
	width: 1.3rem;
}

.header-brand {
	line-height: 1;
}

/*#endregion */

/*#region Mains */
main {
	display: flex;
	flex-direction: column;

	flex-shrink: 0;
}

#main-dialogue {
	padding: 1rem 2rem;
	background-color: var(--background-max);
	margin: 3rem auto;
	width: 42rem;
	border-radius: 0.5rem;

	gap: 1.5rem;

	box-shadow: var(--shadow);
}

#main-invisible {
	margin: 3rem auto;
	width: 80vw;

	gap: 1.5rem;
}

#main-invisible-dialogue {
	margin: 3rem auto;
	width: min(42rem, 80vw);

	gap: 1.5rem;
}

#main-container {
	padding: 1rem 2rem;
	background-color: #ffffff;
	margin: 3rem auto;
	width: 80vw;
	border-radius: 0.5rem;

	gap: 1.5rem;

	box-shadow: var(--shadow);
}

#main-info {
	display: flex;
	flex-direction: column;
	align-items: center;

	margin: 3rem auto;
	width: 70vw;
	border-radius: var(--corner);

	gap: 1.5rem;
}

#main-info p {
	text-align: justify;
	max-width: 70ch;
}

.title-with-action {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: space-between;
}

/*#endregion */

/*#region Grid & cards */
.grid {
	display: grid;
	gap: 1.5rem;
}

.grid-1 {
	grid-template-columns: 1fr;
}

.grid-2 {
	grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
	grid-template-columns: repeat(3, 1fr);
}

.card {
	width: auto;
	background-color: var(--background-max);

	padding: 1.2rem;

	border-radius: var(--corner);
	box-shadow: var(--shadow);
}

.card,
.card-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1rem;
}

/*#endregion */

/*#region Alerts */
.alert {
	padding: 0.5rem 1rem;
	font-size: 1.05rem;

	border-radius: var(--corner);
	border: 2px solid transparent;
}

.alert-title {
	font-size: 1.1em;
	font-weight: bold;
	display: block;
}

.alert-bad {
	background-color: var(--bad-ligher);
	border-color: var(--bad-darker);
	color: var(--bad);
}

.alert-warning {
	background-color: var(--warning-ligher);
	border-color: var(--warning-darker);
	color: var(--warning);
}

.alert-good {
	background-color: var(--good-lighter);
	border-color: var(--good-darker);
	color: var(--good);
}

.text-centre {
	text-align: center;
}

/*#endregion */

/*#region Badges */
.badge {
	padding: 0.25rem 0.5rem;
	border-radius: var(--corner);
	font-size: 0.9rem;
	font-weight: bold;
	letter-spacing: 0.02rem;
}

.badge-good {
	background-color: var(--good);
	color: var(--text);
}

.badge-warning {
	background-color: var(--warning);
	color: var(--text);
}

.badge-bad {
	background-color: var(--bad);
	color: var(--background-max);
}

.badge-inverse {
	background-color: var(--text);
	color: var(--background-max);
}

/*#region Footer */
footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 12rem;

	padding: 0 12vw;
	background: #131313;

	color: var(--background-max);
}

footer nav {
	display: flex;
	flex-direction: column;
	align-items: end;

	font-size: 1.1rem;
	gap: 0.4rem;
}

/*#endregion */