/*#region Defaults */
:root {
	--font-sans: "Liberation Sans", 'Verdana Pro', 'Verdana', 'Helvetica Neue', Arial, Helvetica, 'Segoe UI', system-ui, sans-serif;
	--font-mono: 'Fira Code', 'Fira Mono', 'Roboto Mono', 'Lucida Console', Monaco, monospace;
	font-family: var(--font-sans);
	font-size: 16px;
	line-height: 1.5;

	--text: #03191F;
	--black: #03191F;
	--background: #FBF5F3;

	--error: #AC3931;

	--primary: #00f000;
	--primary-darker: #69f000;
	--primary-lighter: #a7ea72;
	
	--corner: 0.15rem;

	--shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

::selection {
	background: var(--primary-darker);
	color: var(--background);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(--background);
}

main {
	display: flex;
	flex-direction: column;
}

h1 {
	font-size: 4em;
}

h2 {
	font-size: 2.5em;
}

.text-danger {
	color: var(--error);
}

.code {
	font-family: var(--font-mono);
}

@media screen and (max-width: 768px) {
	h1 {
		font-size: 2.5em;
	}

	h2 {
		font-size: 2em;
	}
}
/*#endregion */

/*#region Buttons */
.button {
	font-size: 1.1em;
	font-weight: bold;
	text-decoration: none;

	padding: 0.69rem;
	
	border-radius: var(--corner);
	border: 1px solid;
	
	transition: all 0.2s ease-in-out;
}

.button:hover {
	text-decoration: none;
}

.button-primary {
	background-color: var(--primary);
	border-color: var(--primary-darker);
	color: var(--black);
}

.button-primary:hover {
	background-color: var(--primary-darker);
}

.button-large {
	padding: 1rem 1.7rem;
}
/*#endregion */

/*#region Links */
.link {
	text-decoration: none;
	transition: all 0.2s ease-in-out;
}

.link::selection {
	background: #fff;
	color: blue;
}

.link:hover {
	text-decoration: underline;
}

.link-bold {
	font-weight: bold;
}

.link-nav {
	transform: translateY(2px);
	border-bottom: 2px solid rgba(0, 0, 0, 0);
}

.link-nav:hover {
	transform: translateY(0);
	border-bottom-color: currentColor;
	text-decoration: none;
}

.link-white {
	color: #fff;
}

.link-white::selection {
	background: #fff;
	color: #222;
}

.link-primary {
	color: var(--primary);
}

.link-primary::selection {
	background: var(--primary);
	color: #fff;
}
/*#endregion */

/*#region Forms */
form {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.form-inline {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.75rem;
	
}

.form-group {
	display: flex;
	flex-direction: column;
	color: var(--text);
	width: 100%;
}

.form-group-double {
	display: flex;
	gap: 1.8rem;
}

.form-control {
	padding: 0.69rem;
	border-radius: var(--corner);
	border: 1px solid var(--text);
	font-size: 1.1rem;
}
/*#endregion */

/*#region Header */
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 4rem;

	padding: 0 12vw;
	background: #131313;
}

header img {
	height: 2rem;
}

header nav {
	display: flex;
	align-items: center;
	gap: 1.5rem;
}

header nav:has(img) a {
	display: flex;
	align-items: center;
	gap: 0.25rem;
}

header nav:has(img) img {
	height: 1.3rem;
	width: 1.3rem;
}
/*#endregion */

/*#region Mains */
main#main-dialogue {
	padding: 1rem 2rem;
	background-color: #ffffff;
	margin: 3rem auto;
	width: 38rem;
	border-radius: 0.5rem;

	gap: 1.5rem;

	box-shadow: var(--shadow);
}

main#main-container {
	padding: 1rem 2rem;
	background-color: #ffffff;
	margin: 3rem auto;
	width: 80vw;
	border-radius: 0.5rem;

	gap: 1.5rem;

	box-shadow: var(--shadow);
}

#title-with-action {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

/*#endregion */

/*#region Grid */
.grid {
	display: grid;
	gap: 1.5rem;
}

.grid-3 {
	grid-template-columns: repeat(3, 1fr);
}
/*#endregion */

/*#region Alerts */
.alert {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 1rem;
	border-radius: var(--corner);
	font-size: 1.1em;
}

.alert-title {
	font-size: 1.2em;
	font-weight: bold;
}

.alert-bad {
	background-color: var(--error);
}

.alert-good {
	background-color: var(--primary);
}

.alert-centre {
	text-align: center;
}
/*#endregion */