meter {
	width: 100%;
	height: 1.2rem;
}

meter::-webkit-meter-bar {
	background: #eee;
	border-radius: var(--corner);
}

meter::-webkit-meter-optimum-value {
	background: var(--good);
}

meter::-webkit-meter-suboptimum-value {
	background: var(--bad);
}