@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model DashboardModel
@{
	ViewData["Title"] = "Dashboard";
}

<main id="main-invisible">
	<h1>@AppStrings.dashboard</h1>
	<div class="grid grid-3">
		
		<div class="card" id="card-entrenador">
			<h2>👤 @AppStrings.Text_Dashboard_MyAccount_Title</h2>
			<div class="card-content">
				<a asp-page="/Index" asp-area="Accounts" class="link link-primary link-bold">
					@AppStrings.Action_ManageAccount
				</a>

				<a asp-page="/Logout" asp-area="Accounts" class="link link-bad link-bold">
					@AppStrings.Action_Logout
				</a>
			</div>
		</div>

	</div>
</main>