@page
@{
	ViewData["Title"] = @AppStrings.Text_Dashboard_SubscriptionConfirmed_Title;
}

<main id="main-dialogue">
	<h2>@AppStrings.Text_Dashboard_SubscriptionConfirmed_Title</h2>
	
	<p>@AppStrings.Text_Dashboard_SubscriptionConfirmed_Text</p>
	
	<a asp-area="Dashboard" asp-page="Index" class="button button-primary">
		@AppStrings.goToDashboard
	</a>
</main>