@page
@attribute [ResponseCache(Location = ResponseCacheLocation.None, NoStore = true)]
@{
	ViewData["Title"] = AppStrings.Text_Dashboard_SubscriptionConfirmed_Title;
}

<main id="main-dialogue">
	<h1>@AppStrings.Text_Dashboard_SubscriptionConfirmed_Title</h1>
	
	<p>@AppStrings.Text_Dashboard_SubscriptionConfirmed_Text</p>
	
	<a asp-area="Dashboard" asp-page="Index" class="button button-primary">
		@AppStrings.CallToAction_GoToDashboard
	</a>
</main>