@page
@{
	ViewData["Title"] = @AppStrings.Alert_AccountConfirmed_Title;
}

@model ConfirmModel

<main id="main-dialogue">
	<h2>@AppStrings.Alert_AccountConfirmed_Title</h2>
	
	<p>@AppStrings.Alert_AccountConfirmed_Text</p>
	
	<a asp-page="Login" class="button button-primary">@AppStrings.Action_Login</a>
</main>