@page
@{
	ViewData["Title"] = @AppStrings.email;
}

@model ConfirmModel

<main id="main-dialogue">
	<h2>@AppStrings.accountConfirmed</h2>
	
	<p>@AppStrings.yourAccountHasBeenConfirmed</p>
	
	<a asp-page="Login" class="button button-primary">@AppStrings.doLogin</a>
</main>