@page
@model ErrorModel
@{
	ViewData["Title"] = "Error";
}

<main id="main-dialogue">
	<h1 class="text-danger">@AppStrings.Alert_UnexpectedError_Title</h1>

	@if (Model.ShowRequestId)
	{
		<h3>Código: @Model.Code</h3>
		<p>
			<strong>Código de petición: </strong> <code>@Model.RequestId</code>
		</p>
	}
</main>