h1 {
	font-size: 3.5em;
}

h2 {
	font-size: 2.5em;
}

#landing {
	font-size: 18px;
}

#hero {
	background-image: url("img/landing-main.webp"), linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4));
	background-blend-mode: overlay;
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
}

#landing > #hero {
	background-color: rgba(255, 255, 255, 0.2);
	gap: 1.8rem;
	padding-top: min(12rem, 15vh);
	padding-bottom: min(12rem, 15vh);;
}

#landing p {
	font-size: 1.35em;
	color: var(--white);
}

.feature p,
#contact p {
	width: min(75%, 60ch);
}

#hero, .feature, #contact {
	padding: 9rem 12vw;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1.8rem;
	min-height: 70vh;
}

.feature:nth-child(even) {
	background: rgba(255, 255, 255, 0.2);
	text-align: right;
	color: var(--white);
	align-items: end;
}

#contact {
	align-items: center;
	gap: 2.4rem;
	padding-top: 6rem;
	padding-bottom: 0;
	min-height: unset;
	background-color: #131313;
}

#contact p {
	width: auto;
	text-align: center;
}

#feature-1, #feature-2, #feature-3, #feature-4 {
	background-blend-mode: darken;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

#feature-1,
#feature-3 {
	background-color: #131313;
}

#feature-2 {
	background-image: url('img/landing-feat2.webp'), linear-gradient(to left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3));
}

#feature-4 {
	background-image: url('img/landing-feat4.webp'), linear-gradient(to left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3));
}