@page "/ConfirmarCuenta"
@inject NavigationManager NavigationManager
@inject HttpClient Http
@layout EmptyLayout

<h3>Confirmar Cuenta</h3>

<p>@_error</p>

@code {

	[Parameter]
	[SupplyParameterFromQuery(Name = "email")]
	public string? Email { get; set; }

	[Parameter]
	[SupplyParameterFromQuery(Name = "token")]
	public string? Token { get; set; }

	private string _error = string.Empty;

	protected override async Task OnInitializedAsync()
	{
		var result = await Http.PostAsJsonAsync("Autenticacion/Confirmar", new
		{
			DireccionEmail = Email,
			CodigoVerificacion = Token
		});
		if (result.IsSuccessStatusCode)
		{
			NavigationManager.NavigateTo("Login");
		}
		else
		{
	// TODO: Improve this
			_error = await result.Content.ReadAsStringAsync();
		}
	}

}