@page "/"

<PageTitle>Inicio - mientreno</PageTitle>

<div id="landing">
	<div id="topbar">
		<img src="isotipo.png" alt="mientreno" id="isotipo" />
		
		<nav>
		<NavLink href="/Signup">Regístrate</NavLink>
		<NavLink href="/Login">Inicia sesión</NavLink>
		</nav>
	</div>
	<div id="hero">
		<h1>Una nueva manera de entrenar</h1>

		<p>Mientreno te permite gestionar el progreso físico de tus clientes de forma sencilla y eficaz.</p>

		<div class="cta-container">
			<NavLink href="/Signup" class="cta cta-primary">¡Regístrate ya!</NavLink>
			<NavLink href="/Login" class="cta cta-secondary">o inicia sesión</NavLink>
		</div>
	</div>
	<div id="features">
		<div id="feature-1" class="feature">
			<h2>Dónde y cuando quieras</h2>

			<p>Gestiona los entrenamientos de tus clientes desde cualquier dispositivo, en cualquier lugar. Y permite que tus clientes los consulten con rapidez y comodidad.</p>
		</div>

		<div id="feature-2" class="feature">
			<h2>A gusto del consumidor</h2>

			<p>Define planes de entrenamiento adaptados a cada cliente, indicando instrucciones para cada ejercicio, cantidad de series, repeticiones y descansos.</p>
		</div>

		<div id="feature-3" class="feature">
			<h2>Historial de entrenamientos</h2>

			<p>Consulta el historial de entrenamientos para ver la evolución del cliente. Mantén informes de estado periódicos. Recibe comentarios que te ayuden a ajustarte a sus necesidades.</p>
		</div>

		<div id="feature-4" class="feature">
			<h2>¡Y mucho más!</h2>

			<p>¡Mientreno está en constante desarrollo! Con el tiempo, irás obteniendo acceso a nuevas funcionalidades y mejoras.</p>
			
			<NavLink href="/Signup" class="cta cta-primary">¡Regístrate ya!</NavLink>
		</div>
	</div>

	<div id="contact">
		<h2>¿Quieres saber más? ¿Tienes alguna duda?</h2>

		<p>Haznos llegar tus consultas, y las resolveremos lo antes posible.</p>

		<a href="/contact" class="cta cta-primary">Contacta con nosotros</a>
	</div>
</div>