@page "/"

<PageTitle>Inicio - mientreno</PageTitle>

<div id="landing">
	<div id="hero">
		<h1>Mientreno</h1>

		<p>Gestiona los entrenamientos de tus clientes de forma sencilla y eficaz.</p>

		<div class="cta-container">
			<NavLink href="/Signup"  class="cta cta-primary">¡Regístrate ya!</NavLink>
			<NavLink href="/Login" class="cta cta-secondary">o inicia sesión</NavLink>
		</div>
	</div>
	<div id="features">
		<div id="feature-1" class="feature">
			<h2>En cualquier momento, en cualquier lugar</h2>

			<p>Gestiona los entrenamientos de tus clientes desde cualquier dispositivo, en cualquier lugar. Y permite que tus clientes los consulten con rapidez y comodidad.</p>
		</div>

		<div id="feature-2" class="feature">
			<h2>A gusto del consumidor</h2>

			<p>Define planes de entrenamiento adaptados a cada cliente, indicando instrucciones para cada ejercicio, cantidad de series, repeticiones y descansos.</p>
		</div>

		<div id="feature-3" class="feature">
			<h2>Historial de entrenamientos</h2>

			<p>Consulta el historial de entrenamientos para ver la evolución del cliente. Mantén informes de estado periódicos. Recibe comentarios que te ayuden a ajustarte a sus necesidades.</p>
		</div>

		<div id="feature-4" class="feature">
			<h2>¡Y mucho más!</h2>

			<p>¡Mientreno está en constante desarrollo! Con el tiempo, irás obteniendo acceso a nuevas funcionalidades y mejoras.</p>
		</div>
	</div>

	<div id="contact">
		<h2>¿Quieres saber más? ¿Tienes alguna duda?</h2>

		<p>Si quieres saber más sobre mientreno, no dudes en ponerte en contacto con nosotros.</p>

		<a href="/contact" class="cta cta-secondary">Contacta con nosotros</a>
	</div>
</div>