@using Mientreno.Compartido.Recursos

<div>
	<NavLink href="">
		<img src="isotipo.png" alt="mientreno" id="isotipo"/>
	</NavLink>

	<nav>
		<NavLink href="Login">@AppStrings.doLogin</NavLink>
		<NavLink href="Signup"><strong>@AppStrings.doRegister</strong></NavLink>
	</nav>
</div>